<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AppBaseURL</key>
    <string>$(URL_APP_BASE)</string>
    <key>AppDetails</key>
    <dict>
        <key>AppName</key>
        <string>$(AD_APP_NAME)</string>
        <key>Display</key>
        <string>$(AD_DISPLAY)</string>
    </dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
    <key>Colors</key>
    <dict>
      <key>black</key>
      <string>$(COLOR_BLACK)</string>
      <key>border</key>
      <string>$(COLOR_BORDER)</string>
      <key>darkBackground</key>
      <string>$(COLOR_DARK_BACKGROUND)</string>
      <key>darkText</key>
      <string>$(COLOR_DARK_TEXT)</string>
      <key>lightBackground</key>
      <string>$(COLOR_LIGHT_BACKGROUND)</string>
      <key>lightText</key>
      <string>$(COLOR_LIGHT_TEXT)</string>
      <key>navBarButtonTint</key>
      <string>$(COLOR_NAVBAR_BUTTON_TINT)</string>
      <key>navBarTitle</key>
      <string>$(COLOR_NAVBAR_TITLE)</string>
      <key>placeholderText</key>
      <string>$(COLOR_PLACEHOLDER_TEXT)</string>
      <key>primary</key>
      <string>$(COLOR_PRIMARY)</string>
      <key>primaryNavbar</key>
      <string>$(COLOR_PRIMARY_NAVBAR)</string>
      <key>primarySearchBar</key>
      <string>$(COLOR_PRIMARY_SEARCHBAR)</string>
      <key>red</key>
      <string>$(COLOR_RED)</string>
      <key>searchBarBackground</key>
      <string>$(COLOR_SEARCHBAR_BACKGROUND)</string>
      <key>searchBarCancel</key>
      <string>$(COLOR_SEARCHBAR_CANCEL)</string>
      <key>secondary</key>
      <string>$(COLOR_SECONDARY)</string>
      <key>secondaryNavbar</key>
      <string>$(COLOR_SECONDARY_NAVBAR)</string>
      <key>secondarySearchBar</key>
      <string>$(COLOR_SECONDARY_SEARCHBAR)</string>
      <key>separator</key>
      <string>$(COLOR_SEPARATOR)</string>
      <key>shadow</key>
      <string>$(COLOR_SHADOW)</string>
      <key>white</key>
      <string>$(COLOR_WHITE)</string>
      <key>lightText</key>
      <string>$(COLOR_LIGHT_TEXT)</string>
    </dict>
    <key>Fonts</key>
    <dict>
        <key>black</key>
        <string>$(FONT_BLACK)</string>
        <key>blackItalic</key>
        <string>$(FONT_BLACK_ITALIC)</string>
        <key>bold</key>
        <string>$(FONT_BOLD)</string>
        <key>boldItalic</key>
        <string>$(FONT_BOLD_ITALIC)</string>
        <key>book</key>
        <string>$(FONT_BOOK)</string>
        <key>bookItalic</key>
        <string>$(FONT_BOOK_ITALIC)</string>
        <key>extraLight</key>
        <string>$(FONT_EXTRA_LIGHT)</string>
        <key>extraLightItalic</key>
        <string>$(FONT_EXTRA_LIGHT_ITALIC)</string>
        <key>light</key>
        <string>$(FONT_LIGHT)</string>
        <key>lightItalic</key>
        <string>$(FONT_LIGHT_ITALIC)</string>
        <key>medium</key>
        <string>$(FONT_MEDIUM)</string>
        <key>mediumItalic</key>
        <string>$(FONT_MEDIUMITALIC)</string>
        <key>thin</key>
        <string>$(FONT_THIN)</string>
        <key>thinItalic</key>
        <string>$(FONT_THIN_ITALIC)</string>
        <key>ultra</key>
        <string>$(FONT_ULTRA)</string>
        <key>ultraItalic</key>
        <string>$(FONT_ULTRA_ITALIC)</string>
    </dict>
    <key>UIAppFonts</key>
    <array>
      <string>Roboto-Black.ttf</string>
      <string>Roboto-BlackItalic.ttf</string>
      <string>Roboto-Bold.ttf</string>
      <string>Roboto-BoldItalic.ttf</string>
      <string>Roboto-Book.ttf</string>
      <string>Roboto-BookItalic.ttf</string>
      <string>Roboto-Light.ttf</string>
      <string>Roboto-LightItalic.ttf</string>
      <string>Roboto-Medium.ttf</string>
      <string>Roboto-MediumItalic.ttf</string>
      <string>Roboto-Thin.ttf</string>
      <string>Roboto-ThinItalic.ttf</string>
    </array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
